#about {
	padding: 10vh 15vw;
	display: flex;
	background: $slate;

	figure {
		flex: 0 0 auto;
		filter: grayscale(100%);

		img {
			border-radius: 50%;
		}
	}

	p {
		font-size: 1.5em;
		font-weight: $light;
		line-height: 1.3em;
		color: $stone;
	}
}
