#about {
	padding: 10vh 15vw;
	display: flex;
	background: $slate;

	@include md {
		padding: 10vh 5vw;
	}
	@include sm {
		display: block;
	}

	figure {
		flex: 0 0 auto;
		filter: grayscale(100%);

		img {
			border-radius: 50%;
		}
		@include sm {
			text-align: center;
			margin-bottom: 2em;
		}
	}

	p {
		font-size: 1.5em;
		font-weight: $light;
		line-height: 1.3em;
		color: $stone;

		@include md {
			font-size: 1.2em;
			line-height: 1.5em;
		}
	}
}
