.teaser {
	padding: 5vh 25vw;
	background-color: $green;
	display: flex;

	header {
		font-family: $serif;
		font-style: italic;
		font-size: 1.1em;
		line-height: 2.5em;
		color: $white;
		flex-grow: 2;
	}

	.button {
		flex: 0 0 auto;

		@include sm {
			margin-top: 1em;
		}
	}

	@include md {
		padding: 5vh 5vw;
	}
	@include sm {
		display: block;
		text-align: center;
	}
}
